---
# Add custom CSS under the original `core.scss` file.
---

@import 'main';
@import 'syntax';

// Custom CSS
// Image shadow
img {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
video {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

// Disable gist line numbers
.js-line-number {
    display: none !important;
}

ul,
ol {
  margin: 0;
  li {
    line-height: 2em;
  }
}

article hr {
  border-bottom: 1px solid #aaa;
}

// Remove underline of image links
a:has(img) {
  border-bottom-width: 0px;
}