<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="icon" href="/favicon.png" sizes="16x16" type="image/png">
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="dm4" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<body>

  <div class="site">
    <div class="title">
      <a href="/">blog.dm4.tw</a>
    </div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          <a href="https://github.com/dm4" target="_blank">github.com/dm4</a><br />
          <a href="https://twitter.com/dm4" target="_blank">twitter.com/dm4</a><br />
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://t.me/dm4tw" target="_blank">t.me/dm4tw</a><br />
        </p>
      </div>
    </div>
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31586582-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-31586582-1');
  </script>
  <!-- Google Analytics end -->

</body>

</html>
