// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.line-data {
  width: 100% !important;
  font-size: 13px !important;
}
.gist-meta a[href*='#file'] {
  right:0px !important;
}
#twitter-widget-0 {
  width: 90px !important;
}
